html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin-top: 3rem;
}

a.nav-link, .navbar-brand{
    color: white !important;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* .center-hr {
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
    border: 0;
    height: 1px;
    background-color: #333;
} */

#loginbtn {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 10px 20px;
}

.card {
    padding: 1rem;
}

/* flash message */
ul.flashes {
    list-style-type: none;
    padding: 0;
}







