{% extends "base.html" %}

{% block title %}Login - CyberShield{% endblock %}

{% block content %}
  <h1 class="mb-3 text-center"> <!--temp -->
    Login
    </h1>
  
  <form action="" method="POST">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    
    <div class="mt-3">
      <button type="submit" class="btn btn-success btn-block" id="loginbtn">Log In</button>
    </div>

    <hr class="center-hr mb-4"> 
  </form>
{% endblock %}