{% extends "base.html" %}

{% block title %}Register - CyberShield{% endblock %}

{% block content %}
<h1 class="mb-3 text-center"> <!--temp -->
    Register
    </h1>

  <form>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="First name">
        <label for="floatingInput">First name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Last name">
        <label for="floatingInput">Last name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">confirm password</label>
      </div>
    
    <div class="mt-3">
      <button type="submit" class="btn btn-success btn-block" id="loginbtn">Register</button>
    </div>

    <hr class="center-hr mb-4"> 
  </form>
{% endblock %}